# === Hold back unreleased classes (delete a line to release that class) ===
Extra/

# === Jupyter ===
.ipynb_checkpoints/
*/.ipynb_checkpoints/

Week-08/Day1/Project 1
Week-08/Day3




# === Python ===
__pycache__/
*.py[cod]
.venv/
venv/
env/

# === OS / editor ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === Secrets ===
.env
*.env